.play-count-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.95rem;
  color: #868686;
  margin-top: 0.4rem;
}

.play-count-label {
  font-weight: 500;
}

.play-count-number {
  font-weight: bold;
  color: #ffffff;
}
